@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Regular.ttf") format("truetype"),
    local("Inter-Regular");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Medium.ttf") format("truetype"),
    local("Inter-Medium");
  font-weight: 500;
  font-style: normal;
}
